<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="M17.Properties.Settings.db_farmaciaConnectionString"
            connectionString="Data Source=&quot;C:\Users\TilsonM17\Desktop\Gest Farmacy\Gest Farmacy\bin\Debug\DataBaseFiles\db_farmacia.sdf&quot;"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>